# Images
/journal_images

# Environment variables
.env

# Excel Data Sheets
uhn-publication-data-2022.csv
uhn-publication-data-2022.xlsm
UHN Publications Workbook v2.1.xlsm
UHN Publications Workbook v2.1.csv
unique_journals_test.json

# Extras
.google-cookie